<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>oMe</title>
  <link rel="icon" href="images/oMeFavicon2.png">
  <!-- Latest compiled and minified CSS & JS -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>

    {{!-- =============================== Navbar --}}
    <nav class="headerNav">
        <div class="nav-wrapper">
            <div class="navBarImage">
                <a href="/" class="brand-logo">
                    <img class="navImage" src="images/oMeNavBarImage.png">
                </a>
            </div>
        </div>
    </nav>

    {{{body}}}

    {{!-- ============================ Footer  --}}
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 oMe
                <!-- We will add the number of items currently borrowed and number of items that 
            have been returned -->
            </div>
        </div>
    </footer>
</body>
</html>

