<br>
<div class="indexPageDiv">
    <img src="images/oMe.png">
    <div class="container indexButtons">
                <a class="btn btn-default loginButton" href="/login">Log In</a>
            <br>
                <a class="btn btn-default signUpButton" href="/signup">Sign up</a>
    </div>
    </div>

</div>
<br>