<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="js/item.js" type="text/javascript"></script> 


<div class="container">
    <h1>Items You Have Lent Out</h1>
      <table>
        <thead>
          <tr>
              <th>Borrower</th>
              <th>Thing</th>
              <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Hammer</td>
            <td>4/12/2018</td>
          </tr>
          <tr>
            <td>sam</td>
            <td>Lawn Mower</td>
            <td>3/16/2018</td>
          </tr>
          <tr>
            <td>charlie</td>
            <td>Eclair</td>
            <td>1/16/2018</td>
          </tr>
        </tbody>
      </table>

      <a class="waves-effect waves-light btn" class="waves-effect waves-light btn modal-trigger" href="#addLend">button</a>


<h1>Items You Have Borrowed</h1>
      <table>
        <thead>
          <tr>
              <th>lender</th>
              <th>Thing</th>
              <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Hammer</td>
            <td>8/29/2018</td>
          </tr>
          <tr>
            <td>sam</td>
            <td>Lawn Mower</td>
            <td>7/17/2018</td>
          </tr>
          <tr>
            <td>charlie</td>
            <td>Eclair</td>
            <td>2/2/2018</td>
          </tr>
        </tbody>
      </table>

      <a class="waves-effect waves-light btn" class="waves-effect waves-light btn modal-trigger" href="#addborrow">button</a>
</div>
