.headerNav, .page-footer {
  background-color: black;
}

.navBarImage {
  display: block;
}

.navImage {
  max-height: 50px;

}

.aboutAlert {
  margin-right: 1%;
}

.loginButton, .signUpButton {
  margin: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn, .addItem {
  background-color: #f7c800;
}

.btn:hover{
  background-color:gray;
}

.signUp, .loginDiv {
  margin-left: 5%;
}

button.submit {
  float: right;
}


.page-footer {
  text-align: center;
}

.indexPageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.indexPageDiv img {
  max-width: 100%;
}

.indexButtons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;
}











