.headerNav, .page-footer {
  background-color: black;
}

.navBarImage {
  display: block;
}

.navImage {
  max-height: 50px;

}

.page-footer {
  text-align: center;
}

.indexPageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.indexPageDiv img {
  max-width: 100%;
}

.indexButtons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;
}


.loginButton, .signUpButton {
  margin: 10px;
}

.btn {
  background-color: #f7c800;
}

.signUp, .loginDiv {
  margin-left: 5%;
}

button.submit {
  float: right;
}










